<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs', { isAuthenticated: isAuthenticated }) %>


    <main>
        <form class="product-form" action="/admin/add-product" method="POST" enctype="multipart/form-data">
            <% if (errorMessage) { %>
                <div class="user-message message--error"><%= errorMessage %> </div>
            <%}%>
            <div class="form-control">
                <label for="title">Title</label>
                <input class="<%= validationErrors.find(e => e.param == 'title') ? 'invalid' : '' %>" type="text" name="title" id="title" value="<%= oldInput ? oldInput.title : '' %>">
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input type="file" name="image" id="image">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input class="<%= validationErrors.find(e => e.param == 'price') ? 'invalid' : '' %>" type="number" name="price" id="price" step="0.01" value="<%= oldInput ? oldInput.price : '' %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea class="<%= validationErrors.find(e => e.param == 'price') ? 'description' : '' %>" name="description" id="description" rows="5"><%= oldInput ? oldInput.title : '' %></textarea>
            </div>
            <input type="text" name="_csrf" id="csrfToken" hidden value="<%= csrfToken %>">
            <button class="btn" type="submit">Add Product</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>